.hero-wrapper{
    color: white;
    position: relative;
    padding-bottom: 2rem;
}
.hero_container{
    display: flex;
     align-items: center;
     justify-content: center;
     gap: 7rem;
     padding-bottom: 0px;
}
/* right side */
.image_container{
    height: 24.3rem;
    width: 21rem;
    border-radius: 15rem 15rem 0  0;
    overflow: hidden;
    border: 8px solid rgba(255,255,255,0.12);
}
.image_container>img{
    width: 100%;
    height: 100%;
}
/* left side */
.orange_circle{
    height: 4rem;
    width: 4rem;
    background-color: orange;
    border-radius: 999px;
    position: absolute;
    right: 64.6%;
    top: 7%;
}
.hero_title{
    position:relative;
    z-index: 1;
    margin-bottom: 1rem;
}
.hero_title>h1{
    font-weight: 600;
    font-size: 2.5rem;
    line-height: 3rem;
}
.hero_desc{
    margin-bottom: 2rem;
}
.search_bar{
    background-color: white;
    border-radius: 5px;
    border: 3px solid rgba(120,120,120,0.37);
    padding:0.5rem 1rem;
    justify-content: space-between;
    width:91%;
}
.search_bar>input{
    border:none;
    outline: none;
    margin-right: 0.3rem;
}
.stats {
    width: 100%;
    justify-content: space-betweenfa;
    margin-top: 24px;
}
.stat>:nth-child(1){
    font-size: 2rem;
    padding-left: 32px;
}
.stat>:nth-child(1)>:last-child{
    color:orange;
}
.stat>:last-child{
    font-size: 12px;
    padding-left: 30px;
    color: rgb(134, 131, 131);
}
.secondary_text{
    color: rgb(134, 131, 131);
}